@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bioops-green: #047857;
}

body{
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.placeholder-img{
  background: linear-gradient(135deg, rgba(4,120,87,0.15), rgba(16,185,129,0.12));
}
